
<header class="header-v4">

	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
				<div class="left-top-bar"></div>

				<div class="right-top-bar flex-w h-full" style="color: white; font-size: 15px">

					<b>Welcome: </b><span th:utext="${#request.remoteUser}"></span></li>
				</div>
			</div>
		</div>

		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="#" class="logo"> <img src="/images/icons/logo-01.png"
					alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">


						<li><a href="/product/home">Home</a></li>
						<li><a href="/product/list">Product</a>
							<ul class="sub-menu" style="color: black;">
								<li><a th:each="c:${cates}" th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]</a></li>

							</ul></li>
							
						<li class="label1" data-label1="hot"><a href="/cart/view">Features</a>
						</li>
						
					<li class="nav-item" th:if="${#request.remoteUser}">
				<a class="nav-link" href="/order/list">Your order</a>
			</li>

			<th:block th:if="${#request.remoteUser}">
		      	<li class="nav-item dropdown" th:if="${#request.isUserInRole('STAF')}">
		      		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Manager </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<!-- <a class="dropdown-item" th:href="@{/manager/account}">Account</a> -->
						<a class="dropdown-item" th:href="@{/manager/product}">Product</a>
						<!-- <a class="dropdown-item" th:href="@{/manager/order}">Order</a> -->
					</div>
				</li>
					<li class="nav-item dropdown" th:if="${#request.isUserInRole('DIRE')}">
		      		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Manager </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<!-- <a class="dropdown-item" th:href="@{/manager/account}">Account</a> -->
						<a class="dropdown-item" th:href="@{/admin/home/index}">Product</a>
						<!-- <a class="dropdown-item" th:href="@{/manager/order}">Order</a> -->
					</div>
				</li>
			</th:block>
			<!-- Login and logout -->
	
			
						<li><a href="blog.html">Blog</a></li>

						<li><a href="about.html">About</a></li>

						<li><a href="contact.html">Contact</a></li>
						

					</ul>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m">
					<div
						class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					</div>
					<a th:href="@{/cart/view}">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="{{cart.count}}">
							<i class="zmdi zmdi-shopping-cart"> </i>
						</div>
					</a>
					
					
							<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa-solid fa-circle-user" style="font-size: 24px; color: black;"></i></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<th:block th:unless="${#request.remoteUser}">
						<a class="dropdown-item" th:href="@{/security/login/form}">SignUp</a>
						<hr class="m-0">						
						<a class="dropdown-item" th:href="@{/security/login/form}">Login</a>
						<a class="dropdown-item" th:href="@{/security/login/auth2/facebook}">Facebook</a>
					</th:block>
					<th:block th:if="${#request.remoteUser}">
						<a class="dropdown-item" th:href="@{/security/logoff}">Logout</a>
						<a class="dropdown-item" th:href="@{/secutity/myInfo}">Infomation</a>
					</th:block>
				</div>
			</li>
			
				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="index.html"><img src="/images/icons/logo-01.png"
				alt="IMG-LOGO"></a>
		</div>

		<!-- Icon header -->
		<div class="wrap-icon-header flex-w flex-r-m m-r-15">
			<div
				class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
				<i class="zmdi zmdi-search"></i>
			</div>

			<div
				class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
				data-notify="2">
				<i class="zmdi zmdi-shopping-cart"></i>
			</div>

			<a href="#"
				class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
				data-notify="0"> <i class="zmdi zmdi-favorite-outline"></i>
			</a>
		</div>

		<!-- Button show menu -->
		<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
			<span class="hamburger-box"> <span class="hamburger-inner"></span>
			</span>
		</div>
	</div>


	<!-- Menu Mobile -->
	<div class="menu-mobile">
		<ul class="topbar-mobile">
			<li>
				<div class="left-top-bar">Free shipping for standard order
					over $100</div>
			</li>

			<li>
				<div class="right-top-bar flex-w h-full">
					<a href="#" class="flex-c-m p-lr-10 trans-04"> Help & FAQs </a> <a
						href="#" class="flex-c-m p-lr-10 trans-04"> My Account </a> <a
						href="#" class="flex-c-m p-lr-10 trans-04"> EN </a> <a href="#"
						class="flex-c-m p-lr-10 trans-04"> USD </a>
				</div>
			</li>
		</ul>

		<ul class="main-menu-m">
			<li><a href="index.html">Home</a>
				<ul class="sub-menu-m">
					<li><a href="index.html">Homepage 1</a></li>
					<li><a href="home-02.html">Homepage 2</a></li>
					<li><a href="home-03.html">Homepage 3</a></li>
				</ul> <span class="arrow-main-menu-m"> <i
					class="fa fa-angle-right" aria-hidden="true"></i>
			</span></li>

			<li><a href="product.html">Shop</a></li>

			<li><a href="shoping-cart.html" class="label1 rs1"
				data-label1="hot">Features</a></li>

			<li><a href="blog.html">Blog</a></li>

			<li><a href="about.html">About</a></li>

			<li><a href="contact.html">Contact</a></li>
		</ul>
	</div>

	<!-- Modal Search -->
	<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
		<div class="container-search-header">
			<button
				class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
				<img src="/images/icons/icon-close2.png" alt="CLOSE">
			</button>

			<form class="wrap-search-header flex-w p-l-15">
				<button class="flex-c-m trans-04">
					<i class="zmdi zmdi-search"></i>
				</button>
				<input class="plh3" type="text" name="search"
					placeholder="Search...">
			</form>
		</div>
	</div>
</header>
